{
    "http_interactions": [
        {
            "recorded_at": "Wed, 13 Jun 2018 13:30:26 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                    "Authorization": [
                        "SSWS  <<OKTA_TOKEN>>"
                    ],
                    "Content-Type": [
                        "application/json"
                    ]
                },
                "method": "get",
                "uri": "https://my-okta.okta.com/api/v1/groups"
            },
            "response": {
                "body": {
                    "encoding": "UTF-8",
                    "string": "[{\"id\":\"00gdqt4doz0QC1eF40h7\",\"created\":\"2018-01-24T00:03:52.000Z\",\"lastUpdated\":\"2018-01-24T00:03:52.000Z\",\"lastMembershipUpdated\":\"2018-01-25T20:30:34.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"BUILT_IN\",\"profile\":{\"name\":\"Everyone\",\"description\":\"All users in your organization\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op1static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://op1static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png\",\"type\":\"image/png\"}],\"users\":{\"href\":\"https://my-okta.okta.com/api/v1/groups/00gdqt4doz0QC1eF40h7/users\"},\"apps\":{\"href\":\"https://my-okta.okta.com/api/v1/groups/00gdqt4doz0QC1eF40h7/apps\"}}},{\"id\":\"00gdrphd5bUykSq4u0h7\",\"created\":\"2018-01-25T20:18:48.000Z\",\"lastUpdated\":\"2018-01-25T20:18:48.000Z\",\"lastMembershipUpdated\":\"2018-01-25T20:24:52.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"Family Guy\",\"description\":null},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://op1static.oktacdn.com/assets/img/logos/groups/okta-medium.d7f[...]
        {
            "recorded_at": "Wed, 13 Jun 2018 13:30:26 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                    "Authorization": [
                        "SSWS  <<OKTA_TOKEN>>"
                    ],
                    "Content-Type": [
                        "application/json"
                    ]
                },
                "method": "get",
                "uri": "https://my-okta.okta.com/api/v1/groups/00gezhx0w8mt5gjke0h7/users"
            },
            "response": {
                "body": {
                    "encoding": "UTF-8",
                    "string": "[{\"id\":\"00udrpjj9fsbpxCoN0h7\",\"status\":\"ACTIVE\",\"created\":\"2018-01-25T20:24:48.000Z\",\"activated\":\"2018-05-11T13:10:12.000Z\",\"statusChanged\":\"2018-05-11T13:24:26.000Z\",\"lastLogin\":\"2018-05-11T13:24:26.000Z\",\"lastUpdated\":\"2018-06-13T13:20:24.000Z\",\"passwordChanged\":\"2018-05-11T13:24:26.000Z\",\"profile\":{\"firstName\":\"Peter\",\"lastName\":\"Griffin\",\"mobilePhone\":null,\"githubHandle\":\"peter\",\"displayName\":\"Peter Griffin\",\"secondEmail\":null,\"login\":\"PeterGriffin@example.com\",\"email\":\"petergriffin@gmail.com\"},\"credentials\":{\"password\":{},\"emails\":[{\"value\":\"petergriffin@gmail.com\",\"status\":\"VERIFIED\",\"type\":\"PRIMARY\"}],\"recovery_question\":{\"question\":\"What is the food you least liked as a child?\"},\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"self\":{\"href\":\"https://my-okta.okta.com/api/v1/users/00udrpjj9fsbpxCoN0h7\"}}},{\"id\":\"00udrpn3yw4Whp8mR0h7\",\"status\":\"ACTIVE\",\"created\":\"2018-01-25T20:24:51.000Z\",\"activated\":\"2018-05-11T13:16:34.000Z\",\"statusChanged\":\"2018-05-11T13:26:48.000Z\",\"lastLogin\":\"2018-05-11T13:26:48.000Z\",\"lastUpdated\":\"2018-06-13T13:27:00.000Z\",\"passwordChanged\":\"2018-05-11T13:26:48.000Z\",\"profile\":{\"firstName\":\"Chris\",\"lastName\":\"Griffin\",\"mobilePhone\":null,\"githubHandle\":\[...]
        {
            "recorded_at": "Wed, 13 Jun 2018 13:30:27 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                    "Authorization": [
                        "token <<GITHUB_TOKEN>>"
                    ],
                    "Content-Type": [
                        "application/json"
                    ]
                },
                "method": "get",
                "uri": "https://api.github.com/users/bart"
            },
            "response": {
                "body": {
                    "encoding": "UTF-8",
                    "string": "{\"login\":\"bart\",\"id\":5200235,\"node_id\":\"MDQ6VXNlcjUyMDAyMzU=\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/5200235?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bart\",\"html_url\":\"https://github.com/bart\",\"followers_url\":\"https://api.github.com/users/bart/followers\",\"following_url\":\"https://api.github.com/users/bart/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bart/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bart/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bart/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bart/orgs\",\"repos_url\":\"https://api.github.com/users/bart/repos\",\"events_url\":\"https://api.github.com/users/bart/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bart/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"Rene Bartkowiak\",\"company\":null,\"blog\":\"www.rene-bartkowiak.com\",\"location\":\"Berlin, Germany\",\"email\":null,\"hireable\":null,\"bio\":\"Head of something and Laravel enthusiast\",\"public_repos\":22,\"public_gists\":2,\"followers\":17,\"following\":1,\"created_at\":\"2013-08-09T21:58:26Z\",\"updated_at\":\"2018-05-22T21:05:27Z\"}"
                },
                "headers": {
                    "content-type": [
                        "application/json; charset=utf-8"
                    ],
                    "etag": [
                        "W/\"c95ee93f8c6fe4189e5af3106101bd48\""
                    ],
                    "last-modified": [
                        "Tue, 22 May 2018 21:05:27 GMT"
                    ],
                    "status": [
                        "200 OK"
                    ],
                    "x-accepted-oauth-scopes": [
                        ""
                    ],
                    "x-github-media-type": [
                        "github.v3; format=json"
                    ],
                    "x-oauth-scopes": [
                        "admin:org, repo"
                    ],
                    "x-ratelimit-limit": [
                        "5000"
                    ],
                    "x-ratelimit-remaining": [
                        "4987"
                    ],
                    "x-ratelimit-reset": [
                        "1528899402"
                    ]
                },
                "status": {
                    "code": 200,
                    "message": "OK"
                }
            }
        },
        {
            "recorded_at": "Wed, 13 Jun 2018 13:30:27 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                    "Authorization": [
                        "SSWS  <<OKTA_TOKEN>>"
                    ],
                    "Content-Type": [
                        "application/json"
                    ]
                },
                "method[...]
        {
            "recorded_at": "Wed, 13 Jun 2018 13:30:27 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                    "Authorization": [
                        "token <<GITHUB_TOKEN>>"
                    ],
                    "Content-Type": [
                        "application/json"
                    ]
                },
                "meth[...]
        {
            "recorded_at": "Wed, 13 Jun 2018 13:30:28 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                    "Authorization": [
                        "token <<GITHUB_TOKEN>>"
                    ],
                    "Content-Type": [
                        "application/json"
                    ]
                },
                "meth[...]
        {
            "recorded_at": "Wed, 13 Jun 2018 13:30:28 GMT",
            "request": {
                "body": {
                    "encoding": "US-ASCII",
                    "string": ""
                },
                "headers": {
                    "Authorization": [
                        "token <<GITHUB_TOKEN>>"
                    ],
                    "Content-Type": [
                        "application/json"
                    ]
                },
                "meth[...]
